<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1" data-toggle="tab">
                    <span style="color: black;">
                        <i class="fas fa-address-card"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#tab_2" data-toggle="tab">
                    <span style="color: black;">
                        <i class="fas fa-tasks"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#tab_3" data-toggle="tab">
                    <span style="color: black;">
                        <i class="fas fa-camera-retro"></i>
                    </span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="row">
                    {{{geral}}}
                </div>
            </div>

            <div class="tab-pane" id="tab_2">
                <div class="row">
                    {{{tarefa}}}
                </div>
            </div>

            <div class="tab-pane" id="tab_3">
                <div class="row">
                    {{{galeria}}}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
</script>